@use '../utils/'as *;

.aal-input-fields{
    &-label{
        color: #8f8f8f;
        font-size: 16px;
        & span{
            color: #0CC805;
            font-weight: 500;
        }
    }
}
.calculator-field {
    border: 1px solid #000;
    &:focus{
        box-shadow: none;
        border: 2px solid #000;
    }
}

.input-field-number{
    @media #{$sm, $xs} {
        margin-bottom: 14px;
        
    }
}
.ebay-fees{
    &-icon{
       font-size: 25px;
    }
}
.shipping-cost, .ebay-fees, .sales-tax, .item-cost, .sale-price{
    &-icon{
        top: 50px;
        right: 17px;
        color: var(--icon-color);
    }
}