@use '../utils/' as *;

.aal-output-area {
    background-color: #00000008;
    width: 619px;
    height: 670px;
    border-radius: 8px;
    margin-bottom: 30px;
    @media #{$xl} {
        width: 525px;
        height: 648px;
    }
    @media #{$lg, $md, $sm, $xs} {
        width: auto;
        height: auto;
        margin-left: 0;
        margin-bottom: 50px;
    }
}

.profit {
    background-color: #fff;
    width: 509px;
    border-radius: 5px;
    border: 1px solid #000;
    transform: translateY(55px);
    @media #{$xl} {
        width: 414px;
    }
    @media #{$lg, $md, $sm, $xs} {
        width: auto;
        height: auto;
        margin-right: 55px;
    }
    &-red{
        border: 1px solid #c80505; 
    }
    &-green{
        border: 1px solid #0CC805;
    }

    &-title {
        font-size: 24px;
    }

    &-amount {
        font-size: 70px;
        color: #000;
        font-weight: 600;

        &-red {
            color: #c80505;
        }
        &-green {
            color: #0CC805;
        }
    }

    &-status {
        font-size: 16px;
        color: #0CC805;
        padding: 8px;
        background-color: #0bc80519;
        border-radius: 5px;
        border: 1px solid #0CC805;
    }

    &-status-red {
        font-size: 16px;
        color: #c80505;
        padding: 8px;
        background-color: #c8050519;
        border-radius: 5px;
        border: 1px solid #c80505;
    }
}

.calculation-display-list {
    margin-top: 130px;
    @media #{$xl} {
        margin-top: 112px;
    }
}